<header>
　　<P>チームSTWブログ</P>
  <% if user_signed_in? %>
    <%= link_to "TOP", root_path %>
    <%= link_to "お問い合わせ", new_contact_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
   <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</header>
